<h1>New Eats Post</h1>
<form method='post' action='/create_eats_post'>
  <input type="text" name="name" size="40" placeholder="Restaurant Name"><br><br>
  <input type="text" name="address" size="40" placeholder="Address"><br><br>
  <textarea cols="42" rows="6" name="text" placeholder="What makes it great?"></textarea><br><br>
  <input type="submit" name="submit" value="Create">
</form>
