<div class="container">
  <h3>Title</h3><%= @post.title %>
  <h3>Author</h3><%= @post.author %>
  <h3>URL</h3><%= @post.url %>
  <h3>About</h3><%= @post.text %>
</div>
<div class="container">
  #Comments
</div>
