<h1>New Resource Post</h1>
<form method='post' action='/create_resource_post'>
  <input type="text" name="title" size="40" placeholder="Title"><br><br>
  <input type="text" name="author" size="40" placeholder="Author"><br><br>
  <input type="text" name="url" size="40" placeholder="Url (Ex: Amazon.com link, Link to blog post, ...)"><br><br>
  <textarea cols="42" rows="6" name="text" placeholder="What makes it great?"></textarea><br><br>
  <input type="submit" name="submit" value="Create">
</form>
